.cate_title{
    font-size: 25px;
    margin: auto;
    color: darkgoldenrod;
}

.image_JM{
    width: 40%;
    max-width: 40%;
    height: auto;
    margin-left: 10%;
}

.card_wrapJM{
    margin: 50px 40px;
    display: flex;
    flex-wrap: wrap;
}

.card-rowJM {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 80px 0 auto;
}

.typing-container {
    width: 600px;
    max-width: 100%;
    height: 100px;
    border: 2px solid #ccc;
    padding: 10px;
    overflow: auto;
  }

.typed-text {
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

/* .button-rightJM {
    background-color: yellow;
    border-radius: 8%;
    font-size: 50%;
    margin: 0 0 0 auto;
} */

.column-JM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
}

.column-JM > * {
    margin-left: 15%; /* 원하는 마진 크기로 조정 */
}

.column-JM > *:last-child {
    margin-right: 15%; /* 마지막 자식 요소에는 마진을 적용하지 않음 */
}

.typing-review {
    width: 70%;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    padding: 10px;
    overflow: auto;
    margin: 5px 15% 5px 15%;
  }

/* .line_JM {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */