body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(245, 245, 245);
}

main {
    width: 1200px;
    margin: auto;
}

/* ----------------------- event ----------------------- */
/* ----------------------- event ----------------------- */
/* ----------------------- event ----------------------- */
/* ----------------------- event ----------------------- */
/* ----------------------- event ----------------------- */

.event-list {
    display: flex;
    width: 100%;
    height: 300px;
}

.event-img {
    width: 50%;
    margin: auto;
}

.event-list-text {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.event-list-text a {
    margin: 10px;
    color: black;
    text-decoration-line: none;
}

/* ----------------------- alchol ----------------------- */
/* ----------------------- alchol ----------------------- */
/* ----------------------- alchol ----------------------- */
/* ----------------------- alchol ----------------------- */
/* ----------------------- alchol ----------------------- */

.alchol-aria {
    margin-top: 50px;
}

.card-title {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
}

.card-title > span {
    font-size: 28px; 
    margin: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: none;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card > img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.alchol-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alchol-name {
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
}

.alchol-desc {
    margin: auto;
    text-decoration: none;
}

/* ----------------------- ad ----------------------- */
/* ----------------------- ad ----------------------- */
/* ----------------------- ad ----------------------- */
/* ----------------------- ad ----------------------- */
/* ----------------------- ad ----------------------- */

.ad-aria {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.ad-aria > img {
    width: 90%;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: auto;
    
}

.ad-text {
    position: absolute;
    top: 10px;
    right: 70px;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    font-size: small;
    color: black;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------- brewery ----------------------- */
/* ----------------------- brewery ----------------------- */
/* ----------------------- brewery ----------------------- */
/* ----------------------- brewery ----------------------- */
/* ----------------------- brewery ----------------------- */

.brewery-aria {
    margin-top: 50px;
}

.brewery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brewery {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    background-color: black;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: none;
}

.brewery:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.brewery > img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.brewery-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brewery-name {
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
}

.brewery-region {
    margin: auto;
    text-decoration: none;
}

.brewery-desc {
    margin: auto;
    text-decoration: none;
}

/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */

.footer {
    display: block;
    flex-direction: row;
    align-items: center;
    height: 220px;
    width: 100%;        
    background-color: rgb(87, 96, 156);
    position: relative;
    bottom: 0;
}

.member-list {
    padding-top: 15px;
}

.team-member {
    width: 200px;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 2px;
}

.team-member > a {
    margin: auto;
    margin-bottom: 2px;
}

.team-member > a > img {
    width: 25px;
}

.team-member-name {
    font-size: small;
    color: white;
    margin-top: 5px !important;
    text-decoration-line: none;
}

/* .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 180px;
    align-items: center;
    background-color: rgb(32, 37, 64); 
    메인색상 #202540
}

.header-logo {
    border: none;
    background: inherit;
    font-size: 14px;
    font-family: inherit;
    padding: 8px;
    margin-left: 25px;
    cursor: pointer;
}

.header-logo img {
    width: 120px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.header-btn {
    margin-right: 25px;
    margin-left: 25px;
}

.header-btn button {
    border: none;
    background: inherit;
    font-size: 20px;
    font-family: inherit;
    padding: 8px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.header-btn button:hover {
    background-color: antiquewhite;
    border-radius: 8px;
    color: rgb(35, 35, 35);
}

.main-container {
    margin: 35px 25px 25px 25px;
    padding: 16px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
} */