#header {
    position: fixed;
    z-index: 51;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 1200px;
    /* background: #202540; */
    background-image: linear-gradient(to bottom, rgb(121, 179, 199), rgb(150, 186, 187));
    overflow: hidden;
}

#header .header-member {
    border-bottom: 1px solid #ddd;
    text-align: right;
    padding: 5px 0;
}

.container-member {
    width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
}

#header .header-member a {
    display: inline-block;
    padding: 5px;
    color: white;
}

/******************************************************************/
/******************************************************************/
/******************************************************************/

#header .header-top {
    position: relative;
    height: 100px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#header .header-logo{
    position: relative;
}

#header .header-top .header-gnb{
    text-align: center;
    padding: 5px 0;
    padding-right: 225px;
}

#header .gnb-menu-box {
    display: flex;
    vertical-align: top;
}

.depth0 > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.depth0 > li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 18px;
    margin-top: 8px;
    border-left: 1px solid #ddd;
}

.depth0 > li > a {
    display: inline-block;
    padding: 34px 30px 6px 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration-line: none;
}

/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */
/* ----------------------- footer ----------------------- */

.sosim {
    padding-top: 5%;
}

.my_gradient_1 {
    background-image: linear-gradient(to top, rgb(171, 190, 179), rgb(150, 186, 187));
    width: 100%;
    height: 64vh;
    margin: auto;
}

.team-member-name:hover {
    color: white;
}

.my_gradient_1 {
    background-image: linear-gradient(to top, rgb(171, 190, 179), rgb(150, 186, 187));
    height: 500px;
}

.footer-logo {
    margin: auto;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.footer-logo > img {
    object-fit: cover;
    width: 100%;
}

.footer{
    overflow: hidden;
    min-width: 1200px;
}
















