body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(245, 245, 245);
}

main {
    width: 1200px;
    margin: auto;
}

.card-title {
    margin-top: 250px;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
}

.card-title > span {
    font-size: 28px; 
    margin: auto;
}

.card-title > a {
    font-size: 28px; 
    margin: auto;
}

.card-title > a:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(87, 96, 156) !important;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.brewery-aria {
    margin-top: 50px;
    margin-bottom: 100px;
}

.brewery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.brewery {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    background-color: black;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: none;
}

.brewery:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.brewery > a > img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.brewery-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brewery-name {
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
}

.brewery-region {
    margin: auto;
    text-decoration: none;
}

.brewery-res {
    margin: auto;
    text-decoration: none;
    font-weight: bold;
}

.brewery-exp {
    margin: auto;
    text-decoration: none;
    font-weight: bold;
}