@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SangSangRock';
    background-color: rgb(245, 245, 245);
}

.user-information {
    margin-top: 250px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.user-image {
    float: right;
    width: 350px;
    height: 350px;
}

.user-image > input{
    margin-top: 20px;
}

textarea {
    background-color: rgb(245, 245, 245);
}

.profile_image {
    border-radius: 8px;
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.btn-area {
    margin-bottom: 100px;
    margin-right: 30%;
}