body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(245, 245, 245);
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 180px;
    align-items: center;
    background-color: rgb(32, 37, 64); 
    /* 메인색상 #202540 */

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background-color: rgb(87, 96, 156); 

}

.header-logo {
    border: none;
    background: inherit;
    font-size: 14px;
    font-family: inherit;
    padding: 8px;
    margin-left: 25px;
    cursor: pointer;
}

.header-logo img {
    width: 120px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.header-btn {
    margin-right: 25px;
    margin-left: 25px;
}

.header-btn button {
    border: none;
    background: inherit;
    font-size: 20px;
    font-family: inherit;
    padding: 8px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.header-btn button:hover {
    background-color: antiquewhite;
    border-radius: 8px;
    color: rgb(35, 35, 35);
}


.main-container {
    margin: 35px 25px 25px 25px;
    padding: 16px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
}


.user-information {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.user-image {
    display: flex;
    float: right;
    width: 350px;
    height: 350px;
}

.profile_image {
    border-radius: 8px;
    object-fit: cover;
    width: 400px;
    height: 400px;
}