@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SangSangRock';
    background-color: rgb(245, 245, 245);
}

.main-container {
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
    width: 70%;
    padding: 16px;
    border: 1px solid rgb(222, 220, 220);
    border-radius: 8px;
}

.user-information {
    justify-content: center;
    padding: 15px;
    align-items: center
}

.bookmark-box {
    clear: both;
}

.follower-box {
    clear: both;
}

.following-box {
    clear: both;
}

.review-box {
    clear: both;
}

/* 유저 프로필 */

.user-info {
    margin-top: 20px;
}

.image-box {
    padding-bottom: 20 px;
    width: 350px;
    height: 350px;
    border-radius: 1px solid rgb(222, 220, 220);
}
#profile_image{
    width:100%
}
a{
    text-decoration: none;
    color: black;
}