@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SangSangRock';
    background-color: rgb(245, 245, 245);
}

main {
    width: 1200px;
    margin: auto;
}

section {
    margin-top: 250px;
}

.main-container {
    margin-top: -100px;
}

.card-title {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: row;
    align-items: center;
    justify-content: center;
}

.card-title > span {
    font-size: 28px; 
    margin: auto;
}

.card-detail {    
    height: 300px;
    background-color: lightsteelblue;
    padding: 16px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 8px;
}

.review-container {
    margin-bottom: 100px;
}

.review-container {
    margin-bottom: 100px;
}

.column-JM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
}

.column-JM > * {
    margin-left: 15%;
}

.column-JM > *:last-child {
    margin-right: 15%;
}

.typing-review {
    width: 70%;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    padding: 10px;
    overflow: auto;
    margin: 5px 15% 5px 15%;    
}

.typing-review > input {
    border-style: none;
    width: 100%;
    background-color: rgb(245, 245, 245);
}
