@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SangSangRock';
    background-color: rgb(245, 245, 245);
}

main {
    width: 1200px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
}

.first_button{
    margin: 180px 0 30px 5%;
}

.card_wrapJM{
    margin: 30px 10% 30px 10%;
    width: 80%;
    height: auto;
}

.naming{
    margin: 40px 0 40px 5%;
}

.column-JM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
}

.column-JM > * {
    margin-left: 15%; /* 원하는 마진 크기로 조정 */
}

.column-JM > *:last-child {
    margin-right: 15%; /* 마지막 자식 요소에는 마진을 적용하지 않음 */
}

.review-container {
    margin-bottom: 100px;
}

.typing-review {
    width: 70%;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    padding: 10px;
    overflow: auto;
    margin: 5px 15% 5px 15%;
}

.typing-review > input {
    border-style: none;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.brewery-information{
    margin: 30px 150px 30px 150px;
}

#image-box {
    position: relative;
    width: auto;
    height: 400px;
    overflow: hidden;
}

#image-box img {
    position: absolute;
    display:block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    object-fit: cover;
}

.brewery-box {
    margin-top: 10px;
    padding: 40px;
}

.brew-info-box {
    margin-top: 30px;
}