@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SangSangRock';
    background-color: rgb(245, 245, 245);
}

main {
    width: 1200px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
}

.first_button{
    margin: 60px 0 30px 5%;
}

.card_wrapJM{
    margin: 50px 40px;
    display: flex;
    flex-wrap: wrap;
}

.card-rowJM {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 80px 0 auto;
}

.column-JM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-JM > * {
    margin-left: 15%;
}

.column-JM > *:last-child {
    margin-right: 15%;
}

.review-container {
    margin-bottom: 100px;
    margin-top: 100px;
}

.typing-review {
    width: 70%;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    padding: 10px;
    overflow: auto;
    margin: 5px 15% 5px 15%;
}

.typing-review > input {
    border-style: none;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.event-information {
    margin: 80px 220px 50px 220px;
}

.event-info-box {
    margin-top: 40px;
}

.image-box {
    width: 420px;
    height: 550px;
    background-color:lightsteelblue;
}

.image-box > img {
    width: 100%;
}
