main {
    width: 1200px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
}

.first_button{
    margin: 60px 0 30px 5%;
}

.card_wrapJM{
    margin: 50px 40px;
    display: flex;
    flex-wrap: wrap;
}

.card-rowJM {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 80px 0 auto;
}

.column-JM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
}

.column-JM > * {
    margin-left: 15%; /* 원하는 마진 크기로 조정 */
}

.column-JM > *:last-child {
    margin-right: 15%; /* 마지막 자식 요소에는 마진을 적용하지 않음 */
}

.review-container {
    margin-bottom: 100px;
}

.typing-review {
    width: 70%;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    padding: 10px;
    overflow: auto;
    margin: 5px 15% 5px 15%;
}

.typing-review > input {
    border-style: none;
    width: 100%;
}

.event-information {
    margin: 80px 220px 50px 220px;
}

.event-info-box {
    margin-top: 40px;
}

.image-box {
    width: 420px;
    height: 550px;
    background-color:lightsteelblue;
}
